/* Link nel blocco nav interno alla header */

/* strong interno al primo p e primo link nel p interno al footer */

/* link nel primo p e secondo link nel p interno al footer */

/* em nella lista interna a main */

/* em nel p interno a main */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
	font-family: 'nostroFont';
	src: url('../fonts/AlmondMilky.otf') format('opentype');
}

* {
	font-family: 'Roboto', sans-serif;
}

p em {
	font-family: nostroFont;
}

a {
	font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-style: oblique;
    font-weight: 600;
    font-variant: small-caps;
}

#modifiedLine {
    line-height: 1.8;
    color: darkolivegreen;
    letter-spacing: 5px;
    text-align: justify;
    text-indent: 20px;
}

h1 {
    text-shadow: 4px 4px 8px darkslategray;
}
